/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(3, 78, 229, 0.999);
    --animation-color: #0c86e3;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 5%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  .navbar {
    text-align: center;
    background-color: lightblue;
    height: 100%;
    width: 100%;
  }

  .flip {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    padding: 1em;
    width: 190px;
    height: 254px;
    transform-style: preserve-3d;
    transition: 3s ease;
  }
  
  .flip:hover {
    transform: rotateY(180deg);
  }
  /* Content */
  .flip .content {
    transform-style: preserve-3d;
  }
  
  .flip .back, .flip .front {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .flip .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .flip h2,
  .flip p {
    transform: translateZ(90px);
    text-shadow: 0 0 3px black;
    text-align: center;
  }
  
  .flip h2 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .flip p {
    font-size: 1em;
    color: #eee;
    line-height: 1.6em;
  }
  
  .flip::before,
  .flip::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(purple, red);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg)translateZ(1px);
  }
  
  .flip::before {
    transform: none;
    background-image: linear-gradient(violet, orange);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  